body {margin:0;}

.content {
    width: 100%;
}

#myContRow{
    height: 100%;
}

ul.contRow {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: white;
}

ul.contRow li {
    float: left;
    padding-right: 35px;
}

ul.contRow li.tileBig {
    width: 30%;
    height: 300px;
}

ul.contRow li.tileBig a {
    padding-top: 145px;
    background-image: url("face.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(7px);
}

ul.contRow .text {
    padding-top: 145px;
    z-index: 100;
}

ul.contRow li.tileBig b {
    filter: none;
}


ul.contRow li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 45px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
    height: 100px;
}

ul.contRow li a:hover {
    filter: none;
}

ul.contRow li.icon {display: none;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

ul.secnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
}

ul.secnav li {float: left;}

ul.secnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-weight: bold;
}


ul.secnav li a:hover {background-color: #8c8c8c;}

ul.secnav li.icon {display: none;}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.pollen-content {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #666666;
    transition: 1s;
}

.pollen-content img {
    height:100%;
    width: 100%;
    margin: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s;
    overflow: hidden;
    height: 100%;
    text-align: center;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.31);
}

.overlay p {
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 30px;
}

.bottom-bar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-bar img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
    float: right;0		
    padding-right: 5px;
}

.bottom-bar p {
    font-family: "Times New Roman", Times, serif;
    text-align: right;
    font-size: 15px;
}

.img:hover .overlay{
    height: 0;
}
