body {margin:0;}

.content {
    width: 100%;
}

ul.contRow {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: white;
}

ul.contRow li {
    float: left;
    padding-right: 45px;
}

ul.contRow li.tileBig {
    width: 30%;
    height: 300px;
}

ul.contRow li.tileBig a {
    padding-top: 145px;
    background-image: url("face.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(7px);
}

ul.contRow li.tileMedium {
    width: 20%;
    height: 300px;
}

ul.contRow li.tileMedium a {
    padding-top: 145px;
    background-image: url("face.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(7px);
}

ul.contRow li.tileSmall {
    width: 10%;
    height: 10px;
}

ul.contRow li.tileSmall a {
    padding-top: 145px;
    background-image: url("face.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(7px);
}

ul.contRow .text {
    padding-top: -100px;
    padding-bottom: 100px;
    z-index: 100;
    
}

ul.contRow li.tileBig b {
    filter: none;
}


ul.contRow li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 45px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
    height: 100px;
}

ul.contRow li a:hover {
    filter: none;
    width: 104%;
    transition: 0.3s;
}

ul.contRow li.icon {display: none;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

ul.secnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
}

ul.secnav li {float: left;}

ul.secnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-weight: bold;
}


ul.secnav li a:hover {background-color: #8c8c8c;}

ul.secnav li.icon {display: none;}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

